---
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import Text from "@/components/fundations/elements/Text.astro";
---

<section>
  <Wrapper variant="base" class="pt-16 pb-8">
    <div class="grid grid-cols-1 gap-8 lg:grid-cols-2">
      <Text
        tag="h1"
        variant="textBase"
        class="text-zinc-800 dark:text-zinc-200 text-balance"
      >
        Hi, I hope you're having a great day, my name is Vivek Jariwala! 
      </Text>
      <Text tag="p" variant="textMD" class="text-zinc-500 dark:text-zinc-400">
        A software engineering and business dual degree student that enjoys iteratively solving complex problems.
      </Text>
    </div>
  </Wrapper>
</section>
