---
interface Props {
  variant?: "base"; // Define any variants you need. For example: "base" | "wide"
  class?: string; // Optional prop for additional classes
}
const { variant = "base", class: extraClass = "" } = Astro.props;
// Map each variant to its specific classes
const variantClasses = {
  base: "mx-auto px-8 max-w-3xl 2xl:max-w-7xl 2xl:px-16 border-x border-zinc-200 dark:border-zinc-700",
};
// Combine the classes for the specified variant with any extra classes
const classes = `${variantClasses[variant]} ${extraClass}`.trim();
---

<div class={classes}>
  <!-- Render the default slot content -->
  <slot />
</div>
