---
import BaseHead from "@/components/BaseHead.astro";
---

<html lang="en" class="scroll-smooth">
  <head>
    <BaseHead />
  </head>
  <body class="bg-zinc-50 dark:bg-zinc-900">
    <slot />
  </body>
</html>
